<div class='uit-slides uit-slides--chart'>
    <div class='uit-visuals is--0'>
        <div class='uit-visual__chart'></div>
    </div>
    <div class='uit-slide uit-slide--0'>
        <h2 class='uit-slide__title'>
            <span class='uit-slide__title__inner'>The EPA have declared that anything above 0.2 micrograms per cubic meter of chloroprene is unsafe with long-term exposure</span>
        </h2>
    </div>
    <div class='uit-slide uit-slide--1'>
        <h2 class='uit-slide__title'>
            <span class='uit-slide__title__inner'>However, since 2016 air monitors at Fifth Ward Elementary School have read consistently and significantly higher. Reaching a high monthly average of 23.4 micrograms – that's 11600% above the safe levels.</span>
        </h2>
    </div>
</div>
