<div class='uit-slides uit-slides--chart'>
    <div class='uit-visuals is--0'>
        <div class='uit-visual__chart'></div>
        <div class='uit-visual__source'>Source: EPA air monitoring of LaPlace, LA</div>
    </div>
    <div class='uit-slide uit-slide--0'>
        <h2 class='uit-slide__title'>
            <span class='uit-slide__title__inner'>The EPA suggests that chloroprene emissions <span class='uit-slide__title-highlight'>above 0.2 ug/m3 are unsafe</span> for humans to breathe over a lifespan</span>
        </h2>
    </div>
    <div class='uit-slide uit-slide--1'>
        <h2 class='uit-slide__title'>
            <span class='uit-slide__title__inner'>
                Since 2016 the EPA has been monitoring air quality at locations around the plant including <span class='uit-slide__title-highlight'>a nearby elementary school</span>. They are routinely dozens of times above the 0.2 guidance</span>
        </h2>
    </div>
</div>
