<div class='linker linker--cancer'>
    <div class='header'>
        <h1 class='title'>Cancer Town: a year-long series from Reserve, Louisiana</h1>
    </div>
    <div class="content">
        This US town has a risk of cancer 50 times the national average. A chemical plant – built on the site of an old plantation – emits a ’likely carcinogen’. Can residents of this working-class, predominantly black community win the right to a safe environment for their children?
    </div>
    <ul class='links'>
        <a target='_parent' href='https://www.theguardian.com/us-news/ng-interactive/2019/may/06/cancertown-louisana-reserve-special-report'><li class='link'>’Almost every household has someone that has died from cancer’</li></a>

        <a target='_parent' href='https://www.theguardian.com/us-news/video/2019/may/03/reserve-louisiana-cancertown-video'><li class='link'>’People are dying horrible deaths’: the Louisiana town where cancer haunts the streets – video</li></a>

        <a target='_parent' href='https://www.theguardian.com/us-news/2019/may/06/cancertown-louisiana-reserve-history-slavery'><li class='link'>First slavery, then a chemical plant and cancer deaths: one town’s brutal history</li></a>
    </ul>

    <a class='series_button' target='_parent' href='https://www.theguardian.com/us-news/series/cancer-town'>Read more <svg class='uit-icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'><path d='M38.65 25.58L37 27.21 26.79 37.44l-1.1-1.11 8.53-10.19H12.5v-2.28h21.72l-8.53-10.19 1.1-1.1L37 22.79l1.63 1.63v1.16z'/></svg></a>
</div>
