<div class='uit-header'>
    <div class='uit-content'>
        <a class='uit-header__tag' href='https://www.theguardian.com/us-news/series/cancer-town'>
            Cancer Town
        </a>
        <h1 class='uit-header__headline' itemprop='headline'>
            A placeholder headline for the story about Reserve, Louisiana
        </h1>
        <h3 class='uit-header__standfirst' itemprop='description'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sollicitudin ante eu ante faucibus suscipit. Sed at rhoncus lacus. Orci varius natoque penatibus.
        </h3>
    </div>
</div>
