<div class='uit-header'>
    <div class='uit-header-content'>
        <a class='uit-header__tag' href='https://www.theguardian.com/us-news/series/cancer-town'>
            Cancer Town
        </a>
        <h1 class='uit-header__headline' itemprop='headline'>
            'Almost every household has someone that has died from cancer'
        </h1>
        <h3 class='uit-header__standfirst' itemprop='description'>
            A small town, a chemical plant and the residents' desperate fight for clear air
        </h3>
    </div>
    <div class='uit-content'>
    </div>
</div>
