<div class='uit-meta'>
    <div class='uit-content'>
        <div class='uit-header__byline'><a href='https://www.theguardian.com/profile/laughland-oliver'>Oliver Laughland</a>, <a href='https://www.theguardian.com/profile/jamiles-lartey'>Jamiles Lartey</a> and <a href='https://www.theguardian.com/profile/sam-morris'>Sam Morris</a></div>

        <div class='uit-header__dateline'>
            <time itemprop='datePublished' datetime='2019-01-01T08:00:30-0500'>
            Mon 01 Jan 2019 <span class='content__dateline-time'>08.00&nbsp;EST</span>
            </time>
        </div>

        {{> partials/share }}
    </div>
</div>
