<div class='uit-slides'>
    <div class='uit-visuals'>
    </div>
    <div class='uit-slide' data-slide='0'>
        <h2 class='uit-slide__title'>
            <span class='uit-slide__title__inner'>Louisiana has a high risk of cancer compared to the rest of the country</span>
        </h2>
    </div>
    <div class='uit-slide' data-slide='1'>
        <h2 class='uit-slide__title'>
            <span class='uit-slide__title__inner'>Those living in LaPlace are the most susceptible</span>
        </h2>
    </div>
    <div class='uit-slide' data-slide='2'>
        <h2 class='uit-slide__title'>
            <span class='uit-slide__title__inner'>This is cancer town</span>
        </h2>
    </div>
</div>
