<div class='uit-slides'>
    <div class='uit-visuals is--0'>
        <div class='uit-visual__map' id='uit-visual__map'>
            <div class='uit-visual__map-feather'></div>
            <div class='uit-visual__key uit-visual__key--0'>
                <h3 class='uit-visual__key-title'><strong>Total Cancer Risk</strong> per million</h3>
                <div class='uit-visual__key-grade'></div>
                <div class='uit-visual__key-labels'>
                    <div class='uit-visual__key-label'>14</div>
                    <div class='uit-visual__key-label'>50</div>
                </div>
            </div>
            <div class='uit-visual__key uit-visual__key--1'>
                <h3 class='uit-visual__key-title'><strong>Total Cancer Risk</strong> per million</h3>
                <div class='uit-visual__key-grade'></div>
                <div class='uit-visual__key-labels'>
                    <div class='uit-visual__key-label'>14</div>
                    <div class='uit-visual__key-label'>1,500</div>
                </div>
            </div>
        </div>
        <video class='uit-visual__video' playsInline autoplay loop muted>
            <source src='{{ path }}/assets/video.mp4' type='video/mp4'
        </video>
    </div>
    <div class='uit-slide uit-slide--0'>
        <h2 class='uit-slide__title'>
            <span class='uit-slide__title__inner'>
                The state of <span class='uit-slide__title-highlight'>Louisiana</span> has some of the worst air quality in America
            </span>
        </h2>
    </div>
    <div class='uit-slide uit-slide--1'>
        <h2 class='uit-slide__title'>
            <span class='uit-slide__title__inner'>
                Along the Mississippi River there is an area known <span class='uit-slide__title-highlight'>cancer alley</span> where the most carcinogenic has been detected
            </span>
        </h2>
    </div>
    <div class='uit-slide uit-slide--2'>
        <h2 class='uit-slide__title'>
            <span class='uit-slide__title__inner'>
                Where the residents of <span class='uit-slide__title-highlight'>Reserve</span> are 50 times more at risk of cancer(?)
            </span>
        </h2>
    </div>
    <div class='uit-slide uit-slide--3'>
    </div>
</div>
