<div class='uit-slides'>
    <div class='uit-visuals'>
    </div>
    <div class='uit-slide' data-slide='0'>
        <h2 class='uit-slide__title'>
            <span class='uit-slide__title__inner'>Parts of Louisiana are amongst the highest of cancer risk</span>
        </h2>
    </div>
    <div class='uit-slide' data-slide='1'>
        <h2 class='uit-slide__title'>
            <span class='uit-slide__title__inner'>Something that talks specifically to this area</span>
        </h2>
    </div>
    <div class='uit-slide' data-slide='2'>
        <h2 class='uit-slide__title'>
            <span class='uit-slide__title__inner'>This is cancer town</span>
        </h2>
    </div>
</div>
