figure.element-atom {
    margin-top: 0;
    margin-bottom: 0;
}

// this fixes margin issues on apps
figure.element-atom,
figure.interactive-atom {
    margin: 0;
    height: 100%;
}

// resets headers on apps
.figure.element-atom {
    h1,
    h2,
    h3,
    h4 {
        margin: 0;
    }
}

// fixes font issues in headers
.pillar-link {
    font-weight: 700;
}

// shows footer
.l-footer {
    display: block !important;
}

// hybrid article overrides
.content__head {
    display: none !important;
}

#bannerandheader {
    position: relative;
    z-index: 20;
}

// hide header on mobile
.article__header {
    display: none !important;
}

.content__main,
.prose {
    .gs-container.u-cf {
        display: none !important;
    }

    p,
    h2,
    .element-image {
        max-width: 620px;

        @include mq(leftCol) {
            margin-left: 160px;
        }

        @include mq(wide) {
            margin-left: 240px;
        }
    }

    p:empty {
        display: none;
    }

    p > a {
        border-bottom: 1px solid $c-light-red;

        &:hover {
            text-decoration: none;
            border-bottom-color: $c-red;
        }
    }

    .element-atom--media,
    .element--showcase {
        margin-left: -10px !important;
        margin-right: -10px !important;
        max-width: none;

        @include mq(mobileLandscape) {
            margin-left: -20px !important;
            margin-right: -20px !important;
        }

        @include mq(leftCol) {
            max-width: 800px;
            margin-bottom: 12px !important;
        }

        @include mq(wide) {
            max-width: 880px;
        }

        figcaption {
            margin-left: 10px;

            @include mq(mobileLandscape) {
                margin-left: 20px;
            }

            @include mq(leftCol) {
                position: absolute;
                width: 140px;
                padding-top: 12px;
            }

            @include mq(wide) {
                width: 200px;
                padding-top: 14px;
            }
        }
    }

    .figure__caption__icon,
    .caption--video {
        display: none !important;
    }

    .element-image img {
        width: 100%;
        height: auto;
    }

    .element-rich-link {
        margin-left: 0;
        background-color: $c-off-white;
        border-top: 1px solid $c-light-red;
        padding: 3px 5px;
        box-sizing: border-box;

        &:hover {
            background-color: darken($c-off-white, 5%);
            cursor: pointer;
        }

        p {
            margin: 0;
            font-family: 'Guardian Egyptian Web';
            font-weight: 500;
            font-size: 20px;
            line-height: 1.25;
        }

        &:after {
            content: ' \A Read more';
            display: inline-block;
            font-family: 'Guardian Egyptian Web';
            font-weight: 700;
            font-size: 16px;
            line-height: 1.4;
            color: $c-red !important;
            background: url('{{ path }}/assets/arrow.svg');
            background-repeat: no-repeat;
            background-position: center right;
            padding-right: 26px;
            margin-top: 12px;
        }

        span {
            display: none;
        }

        a {
            color: $c-black;
            border: none;
        }
    }

    figcaption {
        font-family: 'Guardian Sans Web';
        font-size: 14px;
        line-height: 1.25;
        color: #676767;
        padding-left: 0 !important;
        padding-right:  0 !important;
        border-bottom: none !important;
    }

    h2 {
        font-family: 'Guardian Egyptian Web';
        font-size: 24px;
        color: $c-red;
        font-weight: 700;
        padding: 3px 0px;
        display: inline-block;
        line-height: 1.3;

        @include mq(tablet) {
            font-size: 34px;
            line-height: 1.1;
        }
    }

    .element--showcase + h2 {
        @include mq(leftCol) {
            margin-top: -4px;
            margin-bottom: 3px;
            padding: 0;
        }
    }

    p {
        margin-bottom: 1.25rem;
    }

    // app stuff
    figure.element.element-image.figure-wide {
        margin: 0;
    }

    figure.element.element-image.element--supporting.figure-wide,
    figure.element.element--supporting {
        margin-left: 0 !important;
    }
}
