.uit-slides {
    position: relative;
    margin: 0 -10px;

    @include mq(mobileLandscape) {
        margin: 0 -20px;
    }
}

.uit-slide {
    position: relative;
    z-index: 10;
    padding: 50vh 0;
    background-color: transparent;
    margin: 0 10px;

    @include mq(mobileLandscape) {
        margin: 0 20px;
    }
}

.uit-slide .uit-slide__title {
    @include banding($c-black);
    color: $c-white;
    font-weight: 600;
    background-color: transparent;
}

.uit-slide__title-highlight {
    color: $c-light-red;

    .uit-slides--header .uit-slide--0 & {
        color: #ff9933;
    }
}
