.uit-visuals {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    @include mq(tablet) {
        width: 738px;
        left: calc((100% - 740px) / 2 + 1px);
    }

    @include mq(desktop) {
        width: 978px;
        left: calc((100% - 980px) / 2 + 1px);
    }

    @include mq(leftCol) {
        width: 1138px;
        left: calc((100% - 1140px) / 2 + 1px);
    }

    @include mq(wide) {
        width: 1298px;
        left: calc((100% - 1300px) / 2 + 1px);
    }

    &.is-fixed {
        position: fixed;
    }

    &.is-end {
        position: absolute;
        bottom: 0;
        left: 0;
        top: auto;

        @include mq(tablet) {
            left: 1px;
        }
    }

    .uit-slides--chart & {
        max-height: 500px;
    }
}

.uit-visual__map {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.uit-visuals__map-image {
    opacity: 0;
    transition: opacity 0.4s linear;
    transition-delay: 0.3s;

    .is--0 &--0,
    .is--1 &--1,
    .is--2 &--2 {
        opacity: 1;
        transition-delay: none;
    }
}

.uit-visual__map-state {
    font-family: 'Guardian Egyptian Web';
    font-size: 20px;
    font-weight: 700;
    text-anchor: middle;
    opacity: 0;
    transition: opacity 0.2s linear;

    @include mq(tablet) {
        font-size: 24px;
    }

    &--1 {
        fill: $c-grey;
    }

    &--louisiana {
        fill: $c-black;
    }

    .is--0 &--0,
    .is--1 &--1,
    .is--2 &--2 {
        opacity: 1;
        transition-delay: 0.6s;
    }
}

.uit-visual__map-label {
    font-family: 'Guardian Sans Web';
    text-anchor: middle;
    opacity: 0;
    transition: opacity 0.2s linear;

    .is--0 &--0,
    .is--1 &--1,
    .is--2 &--2 {
        opacity: 1;
        transition-delay: 0.6s;
    }
}

.uit-visuals__feature {
    stroke: $c-white;
    fill: none;
    stroke-width: 0.7;
    transition: all 0.4s linear;
    transition-delay: 0.4s;

    .is--1 & {
        stroke: $c-light-grey;
        stroke-width: 0.05;
        fill-opacity: 0;
        transition-delay: 0;
    }
}

.uit-visual__video {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 4;
    transition: opacity 0.4s linear;
    pointer-events: none;

    .is--3 & {
        opacity: 1;
    }
}

.uit-visual__key {
    position: absolute;
    z-index: 5;
    bottom: 10px;
    left: 10px;
    width: 240px;
    font-family: 'Guardian Sans Web';
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.4s linear;

    @include mq(mobileLandscape) {
        left: 20px;
    }

    .is--0 &--0 {
        opacity: 1;
    }

    .is--1 &--1,
    .is--2 &--1 {
        opacity: 1;
    }
}

.uit-visual__key-title {
    margin: 0;
    font-family: 'Guardian Sans Web';
    font-size: 16px;
}

.uit-visual__key-grade {
    width: 100%;
    height: 20px;
    background-color: $c-light-grey;
    margin: 3px 0;

    .uit-visual__key--0 & {
        background-image: linear-gradient(to right, #f9eae1, #ff9933);
    }

    .uit-visual__key--1 & {
        background-image: linear-gradient(to right, #f9eae1, #ff9933 20%, $c-light-red 55%, $c-red);
    }
}

.uit-visual__key-labels {
    display: flex;
    justify-content: space-between;
}

.uit-visual__chart {
    height: 350px;
    margin: 0 10px;

    @include mq(mobileLandscape) {
        height: 500px;
        margin: 0 20px;
    }

    @include mq(tablet) {
        width: 620px;
    }

    @include mq(leftCol) {
        width: 780px;
    }

    @include mq(wide) {
        width: 860px;
    }
}

.uit-visual__chart-line {
    fill: none;
    stroke: $c-light-red;
    stroke-width: 3;
    transition: opacity 0.4s linear;

    .is--0 & {
        opacity: 0;
    }
}

.uit-visual__chart-marker {
    stroke: $c-light-red;
    stroke-dasharray: 10px 5px;
}

.uit-visual__chart-tick {
    stroke: $c-light-grey;
    stroke-dasharray: 1px 1px;
    transition: opacity 0.4s linear;
    transition-delay: 0.3s;
}

.uit-visual__chart-tick--0-2 {
    display: none;
}

.is--1 {
    .uit-visual__chart-tick--0-5,
    .uit-visual__chart-tick--1,
    .uit-visual__chart-tick--1-5,
    .uit-visual__chart-tick--2-0 {
        opacity: 0;
    }
}

.uit-visual__chart-axis {
    .domain {
        stroke: $c-light-grey;
    }

    .tick line {
        stroke: none;
    }

    .tick text {
        font-family: 'Guardian Sans Web';
        font-size: 14px;
        fill: $c-grey;
    }
}

.uit-visual__chart-axis--y {
    .domain {
        stroke: none;
    }
}
